<h1>Organizador de eventos</h1>
<p>Esta página fue hecha para crear, administrar y visualizar eventos en Santa Cruz.</p>
<h4>Características de la página:</h4>
<summary>
    <strong>Eventos individuales:</strong>
    Puedes ver y crear eventos que no requieran dos o más personas a la vez para participar.
</summary>
<summary>
    <strong>Eventos en equipo:</strong>
    Si tienes una banda o grupo, puedes buscar eventos específicamente para grupos de amigos.
</summary>
<summary>
    <strong>Equipos:</strong>
    Antes de ir a un evento de equipo, debes crear el tuyo propio, puedes hacerlo desde la pestaña X. (No implementado)
</summary>
<summary>
    <strong>Certificados de participación:</strong>
    Cuando participes en un evento, el organizador marcará tu asistencia, otorgándote un certificado de participación. (No implementado)
</summary>
<br>
<button class="logout-btn">Cerrar sesión (no implementado)</button>
