<h1>Eventos disponibles</h1>
<p>This should be where you get into events</p>
<p>To help you get started, we've also set up:</p>
<div class="col">
  <div class="col1">
    <p>Eventos individuales:</p>
    <p><br></p>
    <p>enlistar eventos individuales xd</p>
  </div>
  <div class="col2">
    <p>Eventos en equipo:</p>
    <p>(Recuerda que necesitas tener un equipo para participar)</p>
    <p>Pulsa 2 veces para editar.</p>
    <p>Ejemplo<button> Participar
      <span></span>
    </button></p>
  </div>
</div>