<div class="container">
    <h1 class="text-center" style="margin-top: -25px;">Organizador de eventos</h1>
    <p class="text-center">Crea, administra, mira y participa en eventos de toda Santa Cruz, todo desde una sola app.</p>
    <h4 class="text-center" style="margin-top: 50px; margin-bottom: 20px;">Características de la página:</h4>
    <summary>
        <strong>Eventos individuales y en equipo:</strong>
        Puedes elegir si participar en eventos hechos para participación individual, o hacerte un grupo y entrar a eventos dedicados a equipos.
    </summary>
    <summary>
        <strong>Organización y participación libre:</strong>
        No necesitas nada para crear eventos o registrarte en uno, asegúrate de cumplir a tu palabra.
    </summary>
    <summary>
        <strong>Certificados de participación:</strong>
        Cuando participes en un evento, el organizador marcará tu asistencia, otorgándote un certificado de participación. (No implementado)
    </summary>

</div>
<div class="text-center">
    <a [routerLinkActive]="['link-active']" [routerLink]="['/login']">
        <button class="logout-btn">Cerrar sesión</button>
    </a>
</div>