.col{display:flex;}
.col div{flex:1}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin-top: 30px;
  border-radius: 8px;
  color: #536387;
}

.logout-btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
  margin-top: 50px;
  transition: 0.3s;

}
.logout-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  background-color: black;
  color: gray;
}

summary{
  cursor:text;
  margin-bottom:20px;
}

strong, h4, h1{
  color: #07074d;
}