<h1>Lista de eventos individuales</h1>

<p>Haz click en un evento para ver su información y participar en él.</p>

<!-- Debería haber aquí una clase de while para buscar todos los eventos disponibles -->
<!-- ejemplo de tarjetas: -->
<div class="arr">
    <button class="card" *ngFor="let evento of eventosDisponibles" (click)="getDetallesEvento(evento.eventoId)">
      <div class="container">
        <h4><b>{{evento.titulo}}</b></h4>
        <p>{{evento.lugarEvento}}</p>
        <p class="details-text">{{ evento.descripcion}}</p>
      </div>
    </button>
</div>
