<h1>Lista de eventos individuales</h1>

<p>Aquí se listan los eventos disponibles para participantes individuales.</p>

<!-- Debería haber aquí una clase de while para buscar todos los eventos disponibles -->
<!-- ejemplo de tarjeta: -->
<button class="card">
    <div class="container">
      <h4><b>Título</b></h4>
      <p>Detalles</p>
      <p>Ubicación: Ubicación</p>
    </div>
</button>
<button class="card">
    <div class="container">
      <h4><b>Título</b></h4>
      <p>Detalles</p>
      <p>Ubicación: Ubicación</p>
    </div>
</button>