<h1>Tu cuenta</h1>

<div>
    <summary>
        <strong>Nombre:</strong>
        {{usuario?.nombre}}
    </summary>
    <summary>
        <strong>Dirección:</strong>
        {{usuario?.direccion}}
    </summary>
    <summary>
        <strong>Fecha de nacimiento:</strong>
        {{usuario?.fechaNacimiento}}
    </summary>
    <summary>
        <strong>Correo:</strong>
        {{usuario?.correo}}
    </summary>
    <summary>
        <strong>Teléfono:</strong>
        {{usuario?.telefono}}
    </summary>
    <summary>
        <strong>Organización a la que perteneces:</strong>
        {{usuario?.organizacion}}
    </summary>
    <summary>
        <strong>Cargo:</strong>
        {{usuario?.cargo}}
    </summary>
</div>

<a [routerLinkActive]="['link-active']" [routerLink]="['/login']">
    <button class="logout-btn">Cerrar sesión</button>
</a>