<h1>Tu cuenta</h1>
<p>Aquí puedes ver tus datos y a cuántos equipos perteneces.</p>
<div>
    <summary>
        <strong>Nombre:</strong>
        (Request)
    </summary>
    <summary>
        <strong>Dirección:</strong>
        (Request)
    </summary>
    <summary>
        <strong>Fecha de nacimiento:</strong>
        (Request)
    </summary>
    <summary>
        <strong>Correo:</strong>
        (Request)
    </summary>
    <summary>
        <strong>Teléfono:</strong>
        (Request)
    </summary>
    <summary>
        <strong>Organización a la que perteneces:</strong>
        (Request)
    </summary>
    <summary>
        <strong>Cargo:</strong>
        (Request)
    </summary>
</div>

<a [routerLinkActive]="['link-active']" [routerLink]="['/login']">
    <button class="logout-btn">Cerrar sesión</button>
</a>