<h1 class="text-center">{{evento?.titulo}}</h1>

<div class="formbold-main-wrapper" id="formulario">
    <div class="formbold-form-wrapper">
        <h3 class="text-center" style="margin-top: -35px;">Crea un equipo</h3>
        <form [formGroup]="teamForm">
            <div style="display: flex;">
                <p>Nombre del equipo:</p>
                <input class="text-box" formControlName="nombreEquipo" id="equipoNombre">
            </div>

            <div style="display: flex;">
                <p>Organizacion: </p>
                <input class="text-box" formControlName="nombreOrganizacion" id="equipoNombre" style="margin-left: 55px;">
            </div>

            <div>
                <p>Numero Maximo de integrantes: {{ Quantity }}</p>
            </div>

            <div class="agregar">
                <button (click)="agregarDato()" class="btn btn-primary" [disabled]="this.datos.length >= Quantity"> Agregar Participante</button>
            </div>

            <div style="display:flex; flex-direction: column;">
                <div formArrayName="datos" style="display:flex;" *ngFor="let item of datos.controls; let i = index">
                    <div [formGroupName]="i" class="form-group col-md-6">
                        <label for="correo{{i}}"> Correo {{ i + 1}}</label>
                        <input type="email" formControlName="correo" id="correo{{i}}" class="formControl">   
                    </div>

                    <div [formGroupName]="i" class="form-group col-md-6">
                        <label for="nombre{{i}}">Nombre {{ i + 1 }}</label>
                        <input type="text" id="nombre{{i}}" formControlName="nombre" class="formControl">
                    </div>

                    <div  class="form-group col-md-12 text-right">
                        <button class="btn btn-danger" (click)="removerDato(i)" *ngIf="i != 0" style="margin-top: 20px; size: 50%;">Remover</button>
                    </div>
                    
                    
                </div>
            </div>
        </form>
    </div>
</div>
<div class="text-center">
    <button style="font-size: xx-large;" class="participation-btn" (click)="registrarEquipo()">Registrar equipo</button>
</div>

