<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Eventos</title>
    <link rel="stylesheet" href="history.component.css">
</head>
<body>
    <div class="container">
        <h1 style="color: #07074d; margin-bottom: 25px;">Historial de eventos</h1>
        <div style="display:flex; justify-content: center; margin-bottom: 25px;">
            <h3 style="margin-left:10px; margin-right:10px; color: #07074d;">Eventos Organizados</h3>
            <label class="switch">
                <input type="checkbox" [(ngModel)]="participante">
                <span class="slider"></span>
              </label>
            <h3 style="margin-left:10px; margin-right:10px; color: #07074d;">Eventos a los que asistí</h3>
        </div>

        <!-- Eventos en los que asististe -->
        <div *ngIf="participante; else elseBlock">
            <div class="event-list">
                <div class="event" *ngFor="let evento of eventosParticipante" (click)="getCertification(evento?.titulo)">
                    <div class="event-date">
                        <span>{{ evento?.inicio?.getDate() }}</span>
                        <span>{{ evento?.inicio?.toLocaleString('en-us', {month: 'long'}) }}</span>
                        <span>{{ evento?.inicio?.getFullYear() }}</span>
                    </div>
                    <div class="event-details">
                        <h2>{{ evento?.titulo }}</h2>
                        <p>{{ evento?.descripcion }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Todos los eventos (por qué rayos me lo marca como TODO??????????) -->
        <ng-template #elseBlock>
            <div class="event-list">
                <div class="event" *ngFor="let evento of eventosOrganizador" (click)="getCertList(evento.eventoId, evento.porEquipos)">
                    <div class="event-date">
                        <span>{{ evento?.inicio?.getDate() }}</span>
                        <span>{{ evento?.inicio?.toLocaleString('en-us', {month: 'long'}) }}</span>
                        <span>{{ evento?.inicio?.getFullYear() }}</span>
                    </div>
                    <div class="event-details">
                        <h2>{{ evento?.titulo }}</h2>
                        <p>{{ evento?.descripcion }}</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</body>
</html>
