<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Eventos</title>
    <link rel="stylesheet" href="history.component.css">
</head>
<body>
    <div class="container">
        <h1>Historial de eventos</h1>
        <div style="display:flex; justify-content: center;">
            <h3 style="margin-left:10px; margin-right:10px">Todos los eventos</h3>
            <label class="switch">
                <input type="checkbox" [(ngModel)]="assisted">
                <span class="slider"></span>
              </label>
            <h3 style="margin-left:10px; margin-right:10px">Eventos asistidos</h3>
        </div>

        <!-- Eventos en los que asististe -->
        <div *ngIf="assisted; else elseBlock">
            <div class="event-list">

                <div class="event">
                    <div class="event-date">
                        <span>04</span>
                        <span>Jun</span>
                        <span>2024</span>
                    </div>
                    <div class="event-details">
                        <h2>IoI Bolivia</h2>
                        <p>Competencia de programacion en el cual vas a demostrar tus habilidades en programación, teoría de numeros y conocimiento en estructura de datos</p>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- Todos los eventos (por qué rayos me lo marca como TODO??????????) -->
        <ng-template #elseBlock>
            <div class="event-list">

                <div class="event">
                    <div class="event-date">
                        <span>04</span>
                        <span>Jun</span>
                        <span>2024</span>
                    </div>
                    <div class="event-details">
                        <h2>IoI Bolivia</h2>
                        <p>Competencia de programacion en el cual vas a demostrar tus habilidades en programación, teoría de numeros y conocimiento en estructura de datos</p>
                    </div>
                </div>

                <div class="event">
                    <div class="event-date">
                        <span>20</span>
                        <span>May</span>
                        <span>2024</span>
                    </div>
                    <div class="event-details">
                        <h2>Reunion Amigos</h2>
                        <p>Evento random donde uno puede hacer lo que quiera</p>
                    </div>
                </div>

                <div class="event">
                    <div class="event-date">
                        <span>20</span>
                        <span>May</span>
                        <span>2024</span>
                    </div>
                    <div class="event-details">
                        <h2>Charla Ucb</h2>
                        <p>Competencia de programacion en el cual vas a demostrar tus habilidades en programación, teoría de numeros y conocimiento en estructura de datos</p>
                    </div>
                </div>

                <div class="event">
                    <div class="event-date">
                        <span>20</span>
                        <span>May</span>
                        <span>2024</span>
                    </div>
                    <div class="event-details">
                        <h2>Partido Futbol</h2>
                        <p>Segundo Evento random donde uno puede hacer lo que quiera</p>
                    </div>
                </div>

            </div>
        </ng-template>
    </div>
</body>
</html>
