@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-top: 25%;
}

.card {
    height: auto; /* Cambiado a auto para adaptarse al contenido */
    width: 400px;
    background-color: #F8F9FA;
    padding: 20px; /* Agregado un relleno para separar los elementos */
    box-sizing: auto; /* Incluido para asegurar que el padding sea considerado en el tamaño total */
}

.card-header{
    color: black;
    background-color: transparent;
}

.input-group-prepend span {
    width: 50px;
    background-color: #6a64f1;
    color: black;
    border: 0 !important;
}

.input-group {
    margin-bottom: 15px; /* Ajusta el espacio entre los campos */
    
}

.form-control {
    width: 100%; /* Ajusta el ancho de los campos de entrada al 100% del contenedor */
}

.login_btn {
    color: white;
    background-color: #6a64f1;
    width: 100%; /* Ajusta el ancho del botón de inicio de sesión al 100% del contenedor */
    margin-top: 15px; /* Agregado espacio superior para separar el botón del formulario */
}

.login_btn:hover {
    background-color: #2f2f91;
}

.links {
    color: black;
}

.links a {
    margin-left: 4px;
}

.card-footer{
    background-color: transparent;
}