<h1 class="text-center">Título del evento</h1>
<p class="text-center">
    <strong>Organiazdo por:</strong>
    Nombre del organizador
</p>
<p class="text-center">Detalles</p>
<p class="text-center">
    <strong>Ubicación:</strong>
    Ubicación
</p>

<div class="double-col">
    <div class="card">
        <strong class="text-center">Hora inicio:</strong>
        <p class="text-center">00/00/0000 00:00</p>
    </div>
    <div class="card">
        <strong class="text-center">Hora finalización:</strong>
        <p class="text-center">00/00/0000 00:00</p>
    </div>
</div>

<!-- <div class="double-col">
    <div class="card">
        <p class="text-center">Elige un equipo:</p>
    </div>
    <div class="card">
        <select class="custom-select" style="max-width: 120px;">
		    <option selected="">+591</option>
		    <option value="1">+972</option>
		    <option value="2">+198</option>
		    <option value="3">+701</option>
		</select>
    </div>
</div> -->

<!-- Aquí debe haber un ngIf, donde si es individual, solo debe decir participar, sino,
     el usuario debe elegir primero un equipo y luego recién poder darle al botón de participar -->

<div class="text-center">
    <button style="font-size: xx-large;" class="participation-btn">Participar!</button>
</div>

