<h1 class="text-center">{{ evento?.titulo }}</h1>
<p class="text-center">
    <strong>Organiazdo por:</strong>
    {{evento?.organizador?.nombre}}
</p>
<p class="text-center">{{evento?.descripcion}}</p>
<p class="text-center">
    <strong>Ubicación:</strong>
    {{evento?.lugarEvento}}
</p>

<div class="double-col">
    <div class="card">
        <strong class="text-center">Hora inicio:</strong>
        <p class="text-center">{{evento?.inicio}}</p>
    </div>
    <div class="card">
        <strong class="text-center">Hora finalización:</strong>
        <p class="text-center">{{evento?.finalizacion}}</p>
    </div>
</div>

<!-- Aquí debe haber un ngIf, donde si es individual, solo debe decir participar, sino,
     el usuario debe elegir primero un equipo y luego recién poder darle al botón de participar -->

<div class="text-center">
    <button style="font-size: xx-large;" class="participation-btn">Participar!</button>
</div>

