<h1 class="text-center">{{ evento?.titulo }}</h1>
<p class="text-center">
    <strong>Organiazdo por:</strong>
    {{evento?.organizador?.nombre}}
</p>
<p class="text-center">{{evento?.descripcion}}</p>
<p class="text-center">
    <strong>Ubicación:</strong>
    {{evento?.lugarEvento}}
</p>

<p *ngIf="inscrito" style="text-align: center;"> Ya estas registrado en este evento </p>

<div class="double-col">
    <div class="card">
        <strong class="text-center">Hora inicio:</strong>
        <p class="text-center">{{evento?.inicio}}</p>
    </div>
    <div class="card">
        <strong class="text-center">Hora finalización:</strong>
        <p class="text-center">{{evento?.finalizacion}}</p>
    </div>
</div>

<div class="text-center">
    <button style="font-size: xx-large;" class="participation-btn" (click)="inscripcion()" [disabled]="evento == undefined || inscrito">{{textoInscripcion()}}</button>
</div>

