<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">

  
      <form action="https://formbold.com/s/FORM_ID" method="POST">
        <div class="formbold-form-title">
          <h2 class="">Formulario de eventos</h2>
          <p>
            Aquí puedes crear un nuevo evento, asegúrate de llenar todos los campos posibles.
          </p>
        </div>

        <div class="formbold-mb-3">
            <label for="name" class="formbold-form-label">
              Nombre del evento
            </label>
            <input
              type="text"
              name="name"
              id="name"
              class="formbold-form-input"
            />
          </div>

        <div class="formbold-mb-3">
        <label for="location" class="formbold-form-label">
            Ubicacion del evento
        </label>
        <input
            type="text"
            name="location"
            id="location"
            class="formbold-form-input"
        />
        </div>
  
        <div class="formbold-input-flex">
          <div>
            <label for="dateStart" class="formbold-form-label">
              Fecha y hora de inicio
            </label>
            <input type="datetime-local" id="dateStart" name="dateStart" class="datetime-get">
          </div>
          <div>
            <label for="dateEnd" class="formbold-form-label">
                Fecha y hora de finalizacion
            </label>
            <input type="datetime-local" id="dateEnd" name="dateEnd" class="datetime-get">
          </div>
        </div>

        <div class="formbold-mb-3">
            <label for="details" class="formbold-form-label">
                Detalles
            </label>
            <textarea
                type="text"
                name="details"
                id="details"
                class="formbold-form-textarea-big"
                style="height:200px"
                autocomplete="off"
            ></textarea>
            </div>
  
        <div class="formbold-checkbox-wrapper">
          <label class="formbold-checkbox-label">
              <input type="checkbox" class="ui-checkbox" (click)="TeamClick()">
            Evento en grupo
          </label>
        </div>

        <div *ngIf="isTeamEvent">
          <div style="display: flex; margin-top: 20px;">
            <p style="color: #536387;">Número de integrantes:</p>
            <input type="number" class="number-box" [(ngModel)]="Quantity" min="1" max="4" [ngModelOptions]="{standalone: true}">
          </div>
        </div>




        <div class="text-center">
          <button class="formbold-btn">Crear evento</button>
        </div>
      </form>
    </div>
  </div>
