<h1 class="text-center">Lista de asistencia</h1>
<!-- <h3 class="text-center">{{Evento.titulo}}</h3> -->

<div class="text-center">
    <button class="formbold-btn">Guardar cambios</button>
</div>

<div style="margin-top: 25px;">
    <div class="text-center" style="margin:5px;" *ngFor="let item of [].constructor(Quantity); let i = index">
        <div class="checkbox-wrapper-46">
            <input type="checkbox" id="{{i}}" class="inp-cbx" />
            <label for="{{i}}" class="cbx"
              ><span>
                <svg viewBox="0 0 12 10" height="10px" width="12px">
                  <polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span
              ><span>Usuario {{i+1}}</span>
            </label>
        </div>
    </div>
</div>

<div class="text-center">
    <button class="formbold-btn">Guardar cambios</button>
</div>